@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@500;600;700&display=swap");

* {
  scroll-behavior: smooth;
  transition: 0.2s;
  box-sizing: border-box;
  /* border: 1px dashed green; */
}

.positioning {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.paddingY {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cards-absolute {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.grid-column {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(1rem, 1200px)
    minmax(1rem, 1fr);
}

@media screen and (max-width: 750px) {
  .grid-column {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}
